
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color:#777;
    width: 960px;
    font-size: 18px;
    overflow: auto;
    text-align: center;
    margin: auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin: 10px;
    padding: 30px;
}

article {
    color: #ebebeb;
    background: #777;
    height: 100%;
    padding: 5px;
}
h1, p {
    color: #777;
    background-color: #ebebeb;
    margin: 10px;
    padding: 15px;
}
section {
    width: 495px;
    float: left;
    margin: 10px;
    padding: 10px;
}
aside {
    float: right;
    width: 200px;
    padding: 5px;
}
.asideheader {
    padding: 10px;
}
.clearfix {
    overflow: auto;
}
.content {
    width: 960px;
    display: inline-block;
    display: flex;
    margin: 5px;
}
.content > aside {
    flex:1;
}
.content:after {
    clear: both;
}
.articleheader {
    margin: 20px;
    padding: 20px;
}
.secheader {
    margin: 10px;
    padding: 10px;
}
.articleheader {
    background-color: #777;
    margin: 10px;
    padding: 10px;
}
.articlecontent {
    margin: 10px;
}

